import React from 'react';

interface {{pascalCase component}}Props {
  children?: React.ReactNode;
}

export const {{pascalCase component}} = ({ children }: {{pascalCase component}}Props) => {
  return (
    <div className="{{kebabCase name}}-feature">
      <h2>{{pascalCase component}}</h2>
      {children}
    </div>
  );
}; 